name: Loan Retraining CI
on: [push]

jobs:
  mlflow-retraining:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libs
        run: pip install mlflow scikit-learn pandas

      - name: Run MLflow Project
        # UBAH BAGIAN INI: Ganti --no-conda menjadi --env-manager local
        run: mlflow run MLProject/ --env-manager local

      - name: Save Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/